* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header {
    background-color: #1f2937;
    /* height: 350px; */
    padding-bottom: 60px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #f9faf8;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 20px;
}
.header-a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}
.header-b p:nth-child(1) {
    color: #f9faf8;
    font-size: 48px;
}
span {
    display: block;
}
.header-b p:nth-child(2) {
    font-size: 18px;
    color: #e5e7eb;
    /* padding: 20px; */
    width: 300px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    /* margin-left: 144px; */
}
.header-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: -130px; */
    gap: 10px;
}
.header-c {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: antiquewhite;
    width: 600px;
    margin-right: -50px;
    
}
button {
    flex-grow: 0;
    background-color: #3882f6;
    padding: 10px;
    width: 120px;
    border-radius: 20px;
}
.header-c div {
    background-color: inherit;
}

/* 
styling the second section
*/
.section-b{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 60px;
    gap: 35px;
}
.text {
    font-weight: 1000;
    font-size: 36px;
    text-align: center;
    color: #1f2937;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card{

}

.border {
    border: 3px solid blue; 
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.card div:nth-child(2) {
    width: fit-content;
    max-width: 150px;
    text-align: center;
}